{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h3>{% trans "Register" %}</h3>
			<p class="center">
				Welcome back to the CAD Tips Blog. To leave a like or comment, please register.
				If you have already created an account, then head over to the
				<a href="{{ login_url }}">sign up</a> first.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex justify-content-center">
			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
				{% csrf_token %}
				{{ form.as_p }}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button id="register-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
			  </form>
		</div>
	</div>
</div>

{% endblock %}





