{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Main Page</h1>
    <a href="{% url 'create_post' %}">Create new post</a>
    <div class="row">
        {% for post in posts %}
        <div class="col-12">
            <div class="card">
                <a class="post-title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                <div class="card-body">


                </div>
                <hr>
                <p>
                    Author: {{ post.author }} |
                    {{ post.created_on}} 
                    <i class="far fa-heart"></i>
                    {{ post.number_of_likes }}
                </p>
                <span>
                    <a href="{% url 'delete_Post' post.id %}">
                        <button>Delete</button>
                    </a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}