{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row center">
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Log in</legend>
                    {{ form|crispy }}
                </fieldset>
                <div>
                    <a class="register-button" href="{% url 'register' %}">Register</a>
                    <button class="login-button" type="submit">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}