{% extends "base.html" %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter Username:">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter Password:">
        <input type="submit" value="Login">
    </form>
    <p>Not signed up ?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join the 8GAG community!</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign up</button>
        </div>
    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>

{% endif %}

{% endblock %}