body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 19, 25);
    color: #fff;
}

/* Global */

.center{
    text-align: center;
}

.alert{
    text-align: center;
}

.label{
    margin: 40px 0;
}

/* ----- Navigation ----- */

.navbar-dark .navbar-toggler{
    border: none;
}

.navbar{
    background-color: rgb(10,15,20);
    margin-bottom: 25px;
}

.nav-link{
    color: #fff;
}

.navbar-collapse{
    flex-grow: 0;
}

#logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

/* ----- Main View Preview ----- */

.preview{
    background-color: rgb(31,35,41);
    border: none;
}

/* Forms */
 
.form{
    margin-top: 50px;
    width:450px;
    margin-bottom: 20px;
    background-color: rgb(15, 19, 25);
}

.login-title{
    color:rgb(77,139,242);
}

.login-button{
    background-color: rgb(88,149,255);
    color:white;
    width:100%;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px;
    border: none;
}

label{
    color: rgb(100, 105, 110)
}

#username, 
#password, 
#email, 
#password1, 
#password2{
    background-color: rgb(31,35,41);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 100%;
    padding: 4px;
}

.login-icons{
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

hr{
    margin: 5px 0 10px 0;
}

/* Footer */

.mt-auto{
    background-color: rgb(10,15,20);
    color: #fff;
}

