body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 25, 30);
}

/* ----- Navigation ----- */

.navbar-dark .navbar-toggler{
    border: none;
}

.navbar{
    background-color: rgb(10,15,20);
    margin-bottom: 25px;
}

.nav-link{
    color: #fff;
}

.navbar-collapse{
    flex-grow: 0;
}

#logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

/* ----- Main View ----- */

.card{
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: rgb(20,25,30);
}

/* Footer */

.mt-auto{
    background-color: rgb(10,15,20);
    color: #fff;
}

