body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 25, 30);
    color: #fff;
}

/* Global */

.center{
    text-align: center;
}

.home-button{
    background-color: #1292e2;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.login-button{
    background-color:#00ab66;
    border-radius: 5px;
    padding: 7.5px 10px;
    color: #fff;
    text-decoration: none;
    border: none;
}

.register-button{
    background-color:#fff;
    border-radius: 5px;
    padding: 10px;
    color: #1292e2;
    text-decoration: none;
}

.alert{
    text-align: center;
}

.label{
    margin: 40px 0;
}

/* ----- Navigation ----- */

.navbar-dark .navbar-toggler{
    border: none;
}

.navbar{
    background-color: rgb(10,15,20);
    margin-bottom: 25px;
}

.nav-link{
    color: #fff;
}

.navbar-collapse{
    flex-grow: 0;
}

#logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

/* ----- Main View ----- */

.card{
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: rgb(20,25,30);
}

/* Footer */

.mt-auto{
    background-color: rgb(10,15,20);
    color: #fff;
}

